@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

#fix-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 60px;
  background-color: #00a8eb; }

#fix-bar .logo {
  position: absolute;
  left: 0;
  width: 250px;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

#fix-bar .logo a {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  width: 60px;
  height: 24px;
  padding: 18px 16px 18px 24px;
  box-sizing: content-box; }

#fix-bar .push {
  position: relative;
  left: 0;
  height: 100%;
  background-color: #00a8eb;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease; }

.hamburguer {
  width: 72px;
  height: 60px;
  display: block;
  position: relative;
  cursor: pointer; }

.hamburguer span {
  display: block;
  position: absolute;
  height: 4px;
  width: 24px;
  background: #fff;
  opacity: 1;
  left: 24px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.hamburguer span:nth-child(1) {
  top: 20px; }

.hamburguer span:nth-child(2),
.hamburguer span:nth-child(3) {
  top: 28px; }

.hamburguer span:nth-child(4) {
  top: 36px; }

#canvas {
  position: relative;
  height: 100%;
  padding-top: 60px;
  overflow: hidden; }

#nav {
  overflow-y: scroll;
  position: absolute;
  left: 0;
  height: 100%;
  width: 250px;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.5s ease;
  padding-top: 12px;
  padding-bottom: 60px; }

#nav a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 14px 24px;
  font-size: 20px;
  font-weight: 700; }

#nav li:hover {
  cursor: pointer;
  background-color: #eee; }

#nav .menu {
  position: relative;
  min-height: 100%;
  padding-bottom: 60px; }

#nav .copy {
  position: absolute;
  bottom: 0;
  padding: 16px 24px;
  font-size: 12px;
  line-height: 1.4; }

#main {
  background-color: #fff;
  overflow-y: auto;
  position: relative;
  left: 0;
  height: 100%;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transform: translate3d(0, 0, 0);
  padding: 20px; }

.mask {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease, z-index 0s 0.5s, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s 0.5s;
  background-color: rgba(0, 0, 0, 0.5); }

input#show-menu {
  position: absolute;
  opacity: 0; }

input#show-menu:checked ~ #fix-bar .push {
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0); }

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(1),
input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(4) {
  top: 28px;
  width: 0;
  left: 50%; }

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

input#show-menu:checked ~ #fix-bar .hamburguer span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

input#show-menu:checked ~ #canvas .mask {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease; }

input#show-menu:checked ~ #canvas #nav,
input#show-menu:checked ~ #fix-bar .logo {
  transform: translate3d(0, 0, 0); }

input#show-menu:checked ~ #canvas #main {
  transform: translate3d(250px, 0, 0); }

.top-header {
  display: flex;
  width: 100%;
  color: #fff;
  height: 56px;
  background: #3F51B5;
  transition: padding-left 0.6s ease-in-out, background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.15s linear;
  z-index: 30; }
  .top-header .search-wrap {
    line-height: 60px;
    margin-left: auto; }
  .top-header .share-wrap {
    line-height: 60px; }
  .top-header i.iconfont {
    font-size: 42px; }

.search-wrap {
  position: relative;
  min-width: 56px; }

#main {
  padding: 20px 120px;
  min-height: 100%;
  transition: .4s ease-in-out;
  background-color: #f6f6f6; }

#nav ul.menu li {
  display: flex;
  align-items: center;
  padding: 0 30px; }
  #nav ul.menu li i.iconfont {
    margin-right: 10px;
    color: red;
    font-size: 20px; }

.post-list li.post-item {
  background-color: #fff;
  margin-bottom: 20px; }
  .post-list li.post-item .article-card {
    padding: 16px 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(151, 151, 151, 0.58); }
    .post-list li.post-item .article-card .post-meta {
      display: flex;
      justify-content: space-between;
      color: #727272;
      line-height: 24px;
      font-weight: bold; }
    .post-list li.post-item .article-card .post-title {
      display: inline-block;
      position: relative;
      margin: 0 0 16px;
      font-size: 24px;
      line-height: 32px; }
      .post-list li.post-item .article-card .post-title a {
        color: #3F51B5; }
        .post-list li.post-item .article-card .post-title a::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #3F51B5;
          visibility: hidden;
          transform: scaleX(0);
          transition: .4s ease-in-out; }
        .post-list li.post-item .article-card .post-title a:hover::after, .post-list li.post-item .article-card .post-title a:hover::after {
          transform: scaleX(1);
          visibility: visible; }
    .post-list li.post-item .article-card .post-brief {
      padding-bottom: 20px;
      line-height: 1.8;
      word-break: break-all; }
      .post-list li.post-item .article-card .post-brief a.post-more {
        display: inline-block;
        padding: 0 6px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        color: #3F51B5; }
        .post-list li.post-item .article-card .post-brief a.post-more:hover {
          background: #eaecf7; }
    .post-list li.post-item .article-card .post-footer {
      height: 60px; }
      .post-list li.post-item .article-card .post-footer ul.tag-list {
        display: flex; }
        .post-list li.post-item .article-card .post-footer ul.tag-list li.tag-item {
          display: inline-block;
          padding: 0 20px;
          margin-right: 8px;
          border-radius: 2px;
          opacity: 0.8;
          background: #8BC34A;
          transition: .4s ease-in-out; }
          .post-list li.post-item .article-card .post-footer ul.tag-list li.tag-item a {
            line-height: 28px;
            color: #fff; }
          .post-list li.post-item .article-card .post-footer ul.tag-list li.tag-item:hover {
            opacity: 1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26); }

a {
  text-decoration: none;
  cursor: pointer; }

ul {
  list-style: none; }
