@import '_menu.scss';
@import '_header.scss';
@import '_main.scss';
@import '_nav.scss';
@import '_post.scss';
@import 'article/_article.scss';

*::-webkit-scrollbar{
    -webkit-appearance:none;
    width:8px;
    height:8px;
}
*::-webkit-scrollbar-thumb{
    background-color: #B6B6B6;
    border: 1px solid #fff;
    border-radius: 10px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
}